{{{area.contents}}}
{{{area.containers.length}}}
{{#each area.containers as |child|}}
  <a xlink:href='/areas/{{child.id}}'>
    {{area-svg area=child.area x=child.x y=child.y width=child.width height=child.height}}
  </a>
{{/each}}

{{yield}}
